body{
  margin: 0 auto;
  background: rgb(229, 240, 252);
}
nav{
  background: #006E90;
}
.navLink{
  color: #FFFFFF;
  padding-right: 5px;
}
.projectLink{
  color: #F18F01;
}
.btnG{
  background: #F18F01;
  border-color: #000000;
}
main {
  width: 75%;
}
img {
  width: 100%;
}
header {
  padding-bottom: 30px;
}
footer {
  text-align: right;
}
.summary{
  text-align: left;
}
.function{
  text-align: center
}
.jsEx {
  border-color: blue;
}
.g4button{
  padding-bottom: 5px;
}
.webform {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.inactive {
  display: none; /* Hidden by default */;
}

.calculator{
  margin-bottom: 10px;
}
.calcTitle{
  font-weight: bold;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .calcRow {
      max-width: 100px;
    }
    select {
      width: 250px;
      text-align: center;
    }
    input {
      width: 250px;
      text-align: center;
    }
    label {
      width: 250px;
    }
    form {
      padding-left: 10px;
    }
}

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

    }
    select {
      width: 225px;
      text-align: center;
    }
    input {
      width: 225px;
      text-align: center;
    }
    label {
      width: 225px;
    }
    form {
      padding-left: 10px;
    }
.calcRow{
  text-align: center;
}
.modal2 {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
h2 {
  text-align: center;
}

.bubble{
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.activeBubble {
  height: 40vw;
  width: 40vw;
  background-color: rgb(213, 165, 43);
  text-align: center;
  -webkit-transition: height 1s ease-in, width 1s ease-in, background-color 1s ease-in;
  -moz-transition: height 1s ease-in, width 1s ease-in, background-color 1s ease-in;
  -o-transition: height 1s ease-in, width 1s ease-in, background-color 1s ease-in;
  -ms-transition: height 1s ease-in, width 1s ease-in, background-color 1s ease-in;
  transition: height 1s ease-in, width 1s ease-in, background-color 1s ease-in;
  border-radius: 25%;
}
.bubble1 {
  top: 18vh;
  left: 80vw;
}
.bubble2 {
  top: 24vh;
  left: 80vw;
}
.bubble3 {
  top: 30vh;
  left: 80vw;
}
.bubble4 {
  top: 36vh;
  left: 80vw;
}

.project1 {
  height: 400px;
  width: 400px;

}
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}  
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
.project {

  border-bottom: 2px solid #006E90;
  position:relative;
}
p{
  height: auto;
}
.projects {
  margin-left: 10vw;
}
.dividerG{
  border-right: 2px solid #006E90;
  border-bottom: 2px solid #006E90;
}

.projectInactive {
  display: none;
}


